<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>House Rental Prices Evaluation</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main_style.css' %}">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a href="/{{ status }}" class="navbar-brand"><font color="purple"><span class="glyphicon glyphicon-home"></span><b> {{ status }}</b></font></a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                {% block navbar %}{% endblock %}
            </ul>
        </div>
            <span id="greeting">
                    {% if status == 'Logout' %}
                        <font title="Manage Profiles"><a href="/profile/"><span class="glyphicon glyphicon-user"></span> {{ name }}</a></font>
                    {% endif %}
            </span>
        </div>
    </nav>
   {% for i in messages %}
    <div class="alert alert-{{i.tags}}">
        {{ i }}
    </div>
    {% endfor %}

    {% block content %}{% endblock %}
</body>
</html>
