{% extends "base.html" %}
{% block navbar %}
    <li><a href="/"><b>VALUATION</b></a></li>
    <li><a href="/property/"><b>PROPERTY</b></a></li>
    <li><a href="/feedback/"><b>FEEDBACK</b></a></li>
{% endblock %}

{% block content %}
    <center id="slogan">
        <p><b>Login</b></p>
    </center>
    <br/>
    <center>
    <form id="container" action="."  method="post">
        {% csrf_token %}
        {{ message }}
        <br/>
        <table>
            {{ form.as_table }}
        </table>
        <a href="/register/">Enrollment</a>
        <br/>
        <div class = "key">
        <input type="submit" value="Submit" style="width:300px;"/></div>
        <br/>
    </form></center>
{% endblock %}
