<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>House Rental Prices Evaluation</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '_background_.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <center id="slogan">
        <p>Online House Rental Prices Evaluation Platform</p>
    </center>
    <table border="3" id="container">
        <tr>
            <th>Features</th>
            <th></th>
        </tr>
        <tr>
            <td>Number of bedrooms</td>
            <td><select id="num_beds"></select></td>
        </tr>
        <tr>
            <td>Number of bathrooms</td>
            <td><select id="num_baths"></select></td>
        </tr>
        <tr>
            <td>Number of receptions</td>
            <td><select id="num_recepts"></select></td>
        </tr>
        <tr>
            <td>Postcode</td>
            <td><input type="text" value="SW11 2DL"/></td>
        </tr>
        <tr>
            <td>City</td>
            <td>London</td>
        </tr>
        <tr>
            <td>Property type</td>
            <td><select id="property_type"></select></td>
        </tr>
        <tr>
            <td><button>Valuation</button></td>
            <td>Not yet</td>
        </tr>
    </table>
    <script>
    new Vue({
    el: '#welcome',
    data: {
        message: 'Online House Rental Prices Evaluation Platform'
    }
    })
    </script>
    {% load static %}
    <script src = "{% static '_menu.js' %}"></script>
    <script>
        window.onload = setMenu('num_beds');
        window.onload = setMenu('num_baths');
        window.onload = setMenu('num_recepts');
        window.onload = setProperty();
    </script>

</body>
</html>