{% extends "base.html" %}
{% block navbar %}
                <li class="active"><a href="/"><b>VALUATION</b></a></li>
                <li><a href="/property/"><b>PROPERTY</b></a></li>
{% endblock %}

{% block content %}
    <center id="slogan">
        <p>Online House Rental Prices Evaluation</p>
    </center>
    <form action="/result/" method="GET">
    <table id="container" class="table table-hover table-striped">
        <tr>
            <th>Features</th>
            <th></th>
        </tr>
        <tr>
            <td>Number of bedrooms</td>
            <td><select id="num_beds" name="num_beds">
            </select></td>
        </tr>
        <tr>
            <td>Number of bathrooms</td>
            <td><select id="num_baths" name="num_baths">
            </select></td>
        </tr>
        <tr>
            <td>Postcode</td>
            <td><input style="width:180px;" type="text" name="postcode"/></td>
        </tr>
        <tr>
            <td>Property type</td>
            <td><select id="property_type" name="pt">
            </select></td>
        </tr>
        <tr>
            <td>Furniture state</td>
            <td><select id="furniture_state" name="fs">
            </select></td>
        </tr>
        <tr>
            <td>City</td>
            <td>London</td>
        </tr>
        <tr>
            <td><input type="submit" value="Valuation"></td>
            <td></td>
        </tr>
    </table>
    </form>
    {% load static %}
    <script src = "{% static 'menu.js' %}"></script>
    <script>
        window.onload = setMenu('num_beds');
        window.onload = setMenu('num_baths');
        window.onload = setProperty();
        window.onload = setFurniture();
    </script>
{% endblock %}
