{% extends "base.html" %}
{% block navbar %}
    <li><a href="/"><b>VALUATION</b></a></li>
    <li class="active"><a href="/property/"><b>PROPERTY</b></a></li>
    <li><a href="/feedback/"><b>FEEDBACK</b></a></li>
{% endblock %}

{% block content %}
    <center>
    <p id="container">
        <a id="left" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a id="right" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-arrow-right"></span>
        </a>
    </p>
    </center>
    <script>
        $(document).ready(function(){
            $("#left").click(function(){
		        $.ajax({url:"demo_test.txt",

		        success:function(result){
			        $("#div1").html(result);
		        }});
	        });
        });
    </script>
{% endblock %}
