{% extends "base.html" %}
{% block navbar %}
    <li><a href="/"><b>VALUATION</b></a></li>
    <li class="active"><a href="/property/"><b>PROPERTY</b></a></li>
    <li><a href="/feedback/"><b>FEEDBACK</b></a></li>
{% endblock %}

{% block content %}

    </br></br>
    <table id="container" class="table table-hover table-striped">
        <tr>
            <b>
            <td>Bedrooms</td>
            <td>Bathrooms</td>
                <td>Receptions</td>
            <td>Postcode</td>
            <td>Property Type</td>
            <td>Furnished State</td>
            <td>Rental Price</td>
            </b>
        </tr>
        {% for item in loaded %}
        <tr>
            <td>{{item.num_beds}}</td>
            <td>{{item.num_baths}}</td>
            <td>{{item.num_recepts}}</td>
            <td>{{item.postcode}}</td>
            <td>{{item.property_type}}</td>
            <td>{{item.furnished_state}}</td>
            <td>{{item.price_actual}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td>
                {% if loaded.has_previous %}
        <a href="?p={{ loaded.previous_page_number }}" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
                {% else %}
                   <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
                {% endif %}
            </td>
            <td><b>{{ loaded }}</b></td>
        <td>&nbsp;&nbsp;&nbsp;
            {% if loaded.has_next %}
        <a href="?p={{ loaded.next_page_number }}" id="right" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-arrow-right"></span>
        </a>
            {% endif %}
        </td>
            <td></td>
        </tr>
    </table>
{% endblock %}
