{% extends "base.html" %}
{% block navbar %}
    <li><a href="/"><b>Valuation</b></a></li>
    <li><a href="/property/"><b>Properties</b></a></li>
    <li class="active"><a href="/recommendation/"><b>Recommendation</b></a></li>
    <li><a href="/feedback/"><b>Feedback</b></a></li>
{% endblock %}

{% block content %}
<center><b class="message">Marking more properties, the system will learn your preference</b><div id="myMap" style="position:relative;width:900px;height:400px;"></div></center>
{% endblock %}

    <script>
        $(document).ready(function(){
            $("#right").click(function(){
                htmlobj=$.ajax({url:"/api/prefer/",async:false});
                $("#div1").html(htmlobj.responseText);
            });
        });
    </script>