body {
background-image: url(london.jpg);
background-size: cover;
}

#container {
margin: auto;
background-color:white;
filter: alpha(opacity=80); opacity: 0.80;
}

#slogan {
    font-size: 30px;
    color: yellow
}