body {
background-image: url(london.jpg);
background-size: cover;
background-attachment: fixed;
}

#container {
margin: auto;
background-color:white;
filter: alpha(opacity=80); opacity: 0.85;
font-size: 18px;
}

#slogan {
    line-height:60px;
    font-size: 30px;
    color: yellow;
}